Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.suo
*.VC.db
*.VC.opendb
__pycache__/
*.pyc
Artifacts/
# A separate project created by the user; not part of this game's build.
MyProject/
